.header {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.title {
  font-family: 'Inconsolata', monospace;
  font-size: 1.75vw;
  margin-right: 15vh;
  margin-top: 2vh;
}

.links {
  color: #ff2467;
  font-family: 'Roboto', sans-serif;
  margin: 1vh;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.text-section {
  max-width: 50vw;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  font-weight: bold;
  color: #29aa35;
}

.section-text {
  font-family: 'Inconsolata', monospace;
  font-size: 1.35vw;
  padding-left: 5vh;
}

.spacer {
  margin-top: 4vh;
}

.page {
  margin-bottom: 15vh;
}
